body {
    margin: 0;
    font-size: 14px;
    color: #F3F9F8;
    background-color: #161616;
    width: 100vw;
    margin: auto;
}



.work-request--options {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* ---------- */
/* just for this presentation */
.svg-item {
    max-width:30%;
    display:inline-block;
}

@media (min-width: 900px) {
    .svg-item {
        margin: 10px;
    }
}

@media (max-width: 900px) {
    .svg-item {
        margin: 10px;
        max-width:25%;

    }
}



.modal_projetos {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top - um valor alto para garantir que esteja acima de outros elementos */
    left: 50%; /* Posicione 50% do caminho da esquerda */
    top: 50%; /* Posicione 50% do caminho do topo */
    transform: translate(-50%, -60%); /* Translate para centralizar */
    width: 75vw; /* Full width */
    height: 75vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0); /* Fallback color with transparency */
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Adiciona uma sombra clara */
    border-radius: 5px;
    padding-bottom: 2em;
}



/* Modal Content */
.modal-content {
    background-color: #000;
    margin: auto;
    padding: 20px;
    width: 90%;
    height: 80%;
    align-items: center;
    color: white;
}

.modal-content img {
    width: 100%; /* largura total da imagem */
    height: 100%; /* altura total da imagem */
    object-fit: contain; 
    display: block; /* Garante que a imagem não quebre o layout do modal */
    text-align: center;
}

@media (max-width: 767px) {
    .modal_projetos {
        width: 80vw; /* Full width */
        height: 60vh; /* Full height */
    }

    .modal-content img {
        width: 100%; /* largura total da imagem */
        height: 100%; /* altura total da imagem */
        object-fit: contain; 
        display: block; /* Garante que a imagem não quebre o layout do modal */
        text-align: center;
    }

    


}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.slider {
    z-index: 999; /* Certifique-se de que o carrossel tenha um valor de z-index menor do que o modal */
}

.slider--item-image {
    z-index: 8; /* Certifique-se de que o carrossel tenha um valor de z-index menor do que o modal */
}

.slider--item {
    z-index: 8; /* Certifique-se de que o carrossel tenha um valor de z-index menor do que o modal */
}


.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do container */
    margin: auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Remove qualquer margem extra */
}




.modal_img {
    vertical-align: middle;
}

.modal-content img {
    max-width: 100%; /* Define o tamanho máximo das imagens como 100% da largura do modal */
    height: 40vh; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem não quebre o layout do modal */
    text-align: center;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #161616;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.fechar {
    text-align: right;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.linguagens{
    font-style: italic ;
    font-size: 0.8em;
    color: #717171;
    padding-bottom: 2em;
}

.verMais {
    color: #0f33ff;
    font-weight: lighter;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .intro p {
        width: 50%;
    }
    
}

.img_logo {
    width: 30%;
    margin-top: 6%;
    cursor: pointer
}



.about_img {
    max-width: 511px;
    max-height: 463px;;
    object-fit: cover;
}

.colunas {
    text-align: left;
}

@media screen and (min-width: 1200px) {
    .colunas {
        column-count: 3;
        column-gap: 20px;
    }
}

/* Estilo para telas médias */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .colunas {
        column-count: 2;
        column-gap: 20px;
    }
}

/* Estilo para telas pequenas */
@media screen and (max-width: 767px) {
    .colunas {
        column-count: 1;
        column-gap: 0; /* Não há espaçamento entre as colunas em telas pequenas */
    }
}

.skills-logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.span-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.skills-logos img {
    width: 40%;
    max-width: 150px;
    margin-bottom: auto; 
}

.skills-logos h3 {
    border-bottom: 3px solid #0f33ff; 
    border-radius: 20%;
    padding: 3%;
}

@media (max-width: 600px) {
    .skills-logos {
        width: 25%;
    }

    .about {
        height: 140%;
    }
}

@media (min-width: 600px) {
    .skills-logos {
        width: 25%;
    }
}

@media (min-width: 900px) {
    .skills-logos {
        width: 20%;
    }
    .hire{
        width: 800px;
    }
}

@media (min-width: 1200px) {
    .skills-logos {
        width: 20%;
    }
     
    .hire{
        width: 900px;
    }
}



@media (max-width: 375px) {
    .about--banner h2 {
        display: none;
    }

    .hire h2 {
        display: none;
    }

    .work h2 {
        display: none;
    }
}